body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smothing: grayscale;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 1142;
}
.header {
  height: 150px;
  position: relative;
  }
.logo {
  display: block;
  position: absolute;
  top: 21px;
  left: 0;
}
.menu {
  position: absolute;
  top: 47px;
  left: 241px;
}
.contacts {
  position: absolute;
  top: 32px;
  right: 0;  
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.contacts {
font-style: normal;
text-align: right;
}
.conacts__tel {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__graph {
  font-size: 13px;
  color: #FF3D00;
}