*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul, li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper {
  background: url("../../img/hero.jpg") no-repeat top center, url("../../img/bottom-pic.jpg") no-repeat bottom center;
  background-color: #17191C;
  overflow: hidden;
  min-width: 1160px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper__content {
  flex: 1;
}

.footer-container__content {
  border-top: 1px solid rgb(35, 35, 38);
}
