.button {
width: 195px;
height: 55px;
font-weight: bold;
color: #FF5500;
background: #fff;
text-align: center;
text-transform: uppercase;
cursor: pointer;
border: 2px solid #FF5500;
box-sizing: border-box;
border-radius: 35px;
}

.button:hover {
  color: #fff;
  background: #FF3D00;
}

.button-color {
  width: 195px;
  height: 55px;
  font-weight: bold;
  color: #fff;
  background: #FF3D00;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #FF5500;
  box-sizing: border-box;
  border-radius: 35px;
}
.button-color:hover {
  color: #FF3D00;
  background: #fff;
}