.features {
  margin-bottom: 180px;
}

.features__list {
  display: flex;
  justify-content: space-between; 
}

.features__item {
  width: calc(100%/3 - 18px);
  min-height: 476px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.features__img {
  width: calc(100%/4.31);
  min-height: 80px;
  display: flex;
  margin-top: 36px;
  margin-left: 29px;
  margin-bottom: 30px;
}

.features__subtitle {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 17px;
  margin-left: 22px
}

.features__option {
  display: flex;
  justify-content: space-between; 
}
.features__option-text {
  min-width: 102px;
  min-height: 41px;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #666666;
  margin-bottom: 25px;
  margin-left: 22px;
}

.features_text {
  display: flex;
  justify-content:center;
  min-width: 306px;
  min-height: 66px;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  line-height: 22px;
  margin-bottom: 29px;
  margin-left: 22px;
}

.features__button-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 24px;
}
