.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.footer-conteiner{
  background: #17191C;
  max-width: 1900px;
  margin: 0 auto;
  /*padding: 50px;*/
}

.footer__adress {
  font-style: normal;
}

.site-adress__desc {
  width: max-content;
  margin-left: auto;
  font-size: 11px;
  color: #9A9A9A;
}

.social__item--icon--t {
  background-image: url("../../img/t.png");
}

.social__item--icon--t:hover {
  background-image: url("../../img/t-light.png");
}

.social__item--icon--vk {
  background-image: url("../../img/vk.png");
}

.social__item--icon--vk:hover {
  background-image: url("../../img/vk-light.png");
}

.social__item--icon--f {
  background-image: url("../../img/f.png");
}

.social__item--icon--f:hover {
  background-image: url("../../img/f-light.png");
}

.social__item--icon--in {
  background-image: url("../../img/in.png");
}

.social__item--icon--in:hover {
  background-image: url("../../img/in-light.png");
}