.site-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav__item {
  margin-right: 54px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  color: #fff;
  text-decoration: none;
}

.site-nav__link:hover{
  color: #FF3D00;
}