.separator {
  background: #373737 url("../../img/img-reviews/party.png") right bottom no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  max-width: 48%;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
}